.pho-name img
{
    width: 280px;
    height: 370px;
}
.pho-name h1
{
    text-align: center;
}
a
{
    text-decoration: none;
}
.reach-me
{
    text-align: left;
}

@media (min-width: 576px)
{
    .media-que
{
    width: 100%;
    height: 100%;
}
}

@media(max-width:576px)
{
    .pho-name img
    {
        width: 50%;
        height: 50%;
    }
    .pho-name h1
    {
        font-size: 100%;
    }
    .session-1
    {
        width: 100%;
        font-size: small;
    }
    h3
    {
        font-size: large;
    }
    h4
    {
        font-size: medium;
    }
    h5
    {
        font-size: small;
    }
    .session-2
    {
        width: 100%;
    }
}
@media(max-width:768px)
{
    .session-1
    {
        width: 100%;
        font-size: small;
    }
    h3
    {
        font-size: larger;
    }
    h4
    {
        font-size: large;
    }
    h5
    {
        font-size: medium;
    }
    .session-2
    {
        width: 100%;
    }
}
@media(max-width:992px)
{
    .session-1
    {
        width: 100%;
        font-size: small;
    }
    h3
    {
        font-size: x-large;
    }
    h4
    {
        font-size: larger;
    }
    h5
    {
        font-size: large;
    }
    .session-2
    {
        width: 100%;
    }
}
@media(max-width:1200px)
{
    .session-1
    {
        width: 100%;
        font-size: small;
    }
    h3
    {
        font-size: xx-large;
    }
    h4
    {
        font-size: x-large;
    }
    h5
    {
        font-size: larger;
    }
    .session-2
    {
        width: 100%;
    }
}